*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

body {
    background-image: url('Deland.jpg'); /* Change to your image path */
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 50vh;
    width: 150%;
    
}

.form-control-group col-sm-6 {
    margin-bottom: 15px;
}

label {
    display: block;

}

input[type="name"]
input[type="email"]
input[type="password"] {
    width: 150%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}
.register-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.forgot-password {
    font-size: 20px;
}

.forgot-password:hover {
    text-decoration: underline;
}

p {
    margin-top: 15px;
    font-size: 16px;
}